*/.ipynb_checkpoints/*
**/__pycache__/**

Forecasting_Exp_1/API_keys.py
Forecasting_Exp_2/API_keys.py
Forecasting_Exp_1/Forecasting_Exp_1_Data/

Forecasting_Exp_2/data_cache
Forecasting_Exp_2/tickers/

Forecasting_Exp_2/neural_network/__pycache__/network_construction.cpython-37.pyc
Forecasting_Exp_2/neural_network/__pycache__/network_evaluation.cpython-37.pyc
Forecasting_Exp_2/preprocessing/__pycache__/preprocessing_timeseries.cpython-37.pyc

Forecasting_Exp_3/backend/.vscode/settings.json

Forecasting_Exp_4/AMZN_intraday.csv
Forecasting_Exp_4/ai_trader_0.h5